<div class="stuff-container">
  <div class="stuff-talk">
    <img src="stuff2.png">
  </div>

  <% @stuffs.each do |stuff| %>
    <div class="each-content">
      <a href="/garrages/<%= stuff.garrage.id %>/stuffs/<%= stuff.id %>">
        <img class="content-image" src="<%= stuff.image_url(:medium) %>">
      </a>
      <div class="icon-title">
        <%= stuff.title %>
      </div>
      <div class="info-price">
        <h3><%= stuff.price %> 원</h3>
      </div>
    </div>
  <% end %>

  <br>

  <% unless @garrage.nil? %>
    <%= link_to 'New Stuff', new_garrage_stuff_path(@garrage) %>
  <% end %>
</div>
