<div id="container" class="st-container">
  <div class="content-section garrage-list">
    <div class="garrage_google_map" id="map"></div>
  </div>

  <h1>Garrages</h1>

  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @garrages.each do |garrage| %>
        <tr>
          <td><%= garrage.address %></td>
          <td><%= garrage.latitude %></td>
          <td><%= garrage.longitude %></td>
          <td><%= link_to 'Show', garrage %></td>
          <td><%= link_to 'Edit', edit_garrage_path(garrage) %></td>
          <td><%= link_to 'Destroy', garrage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <%= form_for(@garrage) do |f| %>
      <div class="modal-header">
        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Cloas"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">새로운 Garrage 등록</h2>
      </div>
      <div class="modal-body">
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>

        <div class="field">
          <%= f.label :latitude %>
          <%= f.text_field :latitude, value: params[:lat] %>
        </div>

        <div class="field">
          <%= f.label :longitude %>
          <%= f.text_field :longitude, value: params[:lng] %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div><!-- midal-content -->
</div><!-- modal -->

<script type="text/javascript">
  var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var labelIndex = 0;

  function initMap() {
    var myLatLng = {lat: 37.5639, lng: 126.9031};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: myLatLng
    });

    var contentString = 'hi';

    var infowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 200
    });

    google.maps.event.addListener(map, 'click', function(event) {
       var lat = event.latLng.lat();
       var lng = event.latLng.lng();

       $('#garrage_latitude').val(lat);
       $('#garrage_longitude').val(lng);

      $('#modal1').openModal();
    });

    <% Garrage.all.each do |g| %>
      addMarker(new google.maps.LatLng(<%= g.latitude %>,<%= g.longitude %>), map);
    <% end %>
  }

  function addMarker(location, map) {
    var marker = new google.maps.Marker({
      position: location,
      label: labels[labelIndex++ % labels.length],
      map: map
    });
  }
