<div id="container" class="st-container">
  <div class="content-section garrage-list">
    <div class="garrage_google_map" id="map"></div>
  </div>

  <h1>Garrages</h1>

  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @garrages.each do |garrage| %>
        <tr data-stuffs-count="<%= garrage.stuffs.count %>">
          <td><%= garrage.address %></td>
          <td><%= garrage.latitude %></td>
          <td><%= garrage.longitude %></td>
          <td><%= link_to 'Show', garrage %></td>
          <td><%= link_to 'Edit', edit_garrage_path(garrage) %></td>
          <td><%= link_to 'Destroy', garrage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <%= form_for(@garrage) do |f| %>
      <div class="modal-header">
        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Cloas"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">등록</h2>
      </div>
      <div class="modal-body">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>

        <div class="field">
          <%= f.hidden_field :latitude, value: params[:lat] %>
        </div>

        <div class="field">
          <%= f.hidden_field :longitude, value: params[:lng] %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div><!-- midal-content -->
</div><!-- modal1 -->

<div id="modal2" class="modal">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Cloas"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <div class="actions">
          <a class="waves-effect waves-light btn" id="stuff_tag">See More</a>
        </div>
      </div>
  </div><!-- midal-content -->
</div><!-- modal2 -->

<script type="text/javascript">
  function initMap() {
    var myLatLng = {lat: 37.5639, lng: 126.9031};
    var mapOptions = {
      zoom: 15,
      center: myLatLng
    };

    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    google.maps.event.addListener(map, 'click', function(event) {
       var lat = event.latLng.lat();
       var lng = event.latLng.lng();

       $('#garrage_latitude').val(lat);
       $('#garrage_longitude').val(lng);

      $('#modal1').openModal();
    });

    <% @garrages.each do |g| %>
      var pos = new google.maps.LatLng(<%= g.latitude %>,<%= g.longitude %>);

      var marker = new google.maps.Marker({
        position: pos,
        label: <%= g.id %>
      });

      marker.setMap(map);

      google.maps.event.addListener(marker, 'click', function(event) {
        $('#modal2').openModal();
        $.ajax({
          url: '/garrages/<%= g.id %>/stuffs.json',
          type: 'get',
          success: function(response) {
            $('#modal2 .modal-body').html('');

            for(var i=0; i < response.length; i++) {
              var $img = $('<img />');
              $img.attr('src', response[i].image.url);
              $('#modal2 .modal-body').append($img);
            }
          }
        });
        $('#stuff_tag').attr("href", "/garrages/<%=g.id%>/stuffs")
      });
    <% end %>

  }
