<!DOCTYPE html>
<html>
  <head>
    <title>Musthave</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <style type="text/css">
    </style>
  </head>

  <body>

    <%= render 'nav' %>

    <%= yield %>

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBetvh03PhdJcNsggLq66l8HeO04SJCpDs&callback=initMap">
    </script>
  </body>
</html>
