<!DOCTYPE html>
<html>
  <head>
    <title>Musthave</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

				<style type="text/css">
						html, body { height: 100%; margin: 0; padding: 0; }
						#map { height: 100%; }
				</style>
  </head>

  <body>


    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MustHave</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
               <% if user_signed_in? %>
                 <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
                 <li><%= link_to 'Garrages', garrages_path %></li>
                 <li><%= link_to 'Stuffs', garrage_stuffs_path(Stuff.all) %></li>
               <% else %>
                 <li><%= link_to 'Log In', new_user_session_path %></li>
                 <li><%= link_to 'Sign Up', destroy_user_session_path, :method => 'delete' %></li>
               <% end %>
        </ul>
      </div>
    </nav>
 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

    <script type="text/javascript">

						var map;
						function initMap() {
								map = new google.maps.Map(document.getElementById('map'), {
										center: {lat: 37.5639, lng: 126.9031},
										zoom: 14
								});
						}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBetvh03PhdJcNsggLq66l8HeO04SJCpDs&callback=initMap">
    </script>
  </body>
</html>
