<!DOCTYPE html>
<html>
  <head>
    <title>Musthave</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MustHave</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
               <% if user_signed_in? %>
                 <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
                 <li><%= link_to 'Garrages', garrages_path %></li>
                 <li><%= link_to 'Stuffs', stuffs_path %></li>
               <% else %>
                 <li><%= link_to 'Log In', new_user_session_path %></li>
                 <li><%= link_to 'Sign Up', destroy_user_session_path, :method => 'delete' %></li>
               <% end %>
        </ul>
      </div>
    </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

    <script type="text/javascript">
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

      function initMap() {
        var myLatLng = {lat: 37.5639, lng: 126.9031};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: myLatLng
        });

        var contentString = 'hi';

        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 200
         // infowindow.open(map, marker);
        });

        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
          location.href="/garrages/new?lat=" + event.latLng.lat() + "&lng=" + event.latLng.lng();
        });
      }

      function addMarker(location, map) {
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBetvh03PhdJcNsggLq66l8HeO04SJCpDs&callback=initMap">
    </script>
  </body>
</html>
